*,::before,::after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#premiere{
    width: 100%;
    height: 99vh; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color:#160000;
     position: fixed;     
 

}


svg{
    position: absolute;
    width: 0;
    height: 0;
}
.container {

    -webkit-filter:url(#noise);

            filter:url(#noise);
    width: 50%;
    width: 700px;
    height: 100vh;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;  
    -webkit-box-pack: center;  
        -ms-flex-pack: center;  
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
           
    
}
img{
    /* position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    display: block;
  
   
  
}
.logo{
    margin-top: 50px;
    width: 570px;
    height: 80vh;   
    display: -webkit-box;   
    display: -ms-flexbox;   
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;  
           
 
}
.titre{
    width: 500px;
    height: 40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 60px;
  


}

.titre p{
    color:white;
    font-size: 12px;
}
p.gris{
    color: gray;
}
h1{
    z-index: 500;
    /* transform: translateY(20px); */
}
h1 div{
    color: white; 
    font-size: 720%;
    font-family:  'Raleway', sans-serif;
    font-weight: 50;
    display: inline-block;
  
}
h1 div:nth-child(2){
    font-weight: 900;
}
h3{
    color: white;
    font-size: 290%;
}

.scroll{
    position: absolute;
    top:75%;
    left: 85%;
    width: 200px;
    height: 200px;
    border:dashed grey 2px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}
.scroll p{
    color: grey;
    font-size: 22px;
}
#second{
    background-color: #ebe8e2;
    height: 100vh;
    width: 100%;
    position: absolute;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;

}
#second.opacite{
    opacity: 0;
}
.nonOpacite{
    opacity: 1;
}
.fixe{
    position: fixed;
}
.space{
    height: 200vh;
    width: 100%;
    background-color: #ebe8e2;
}


header{
    padding-right: 8%;
    padding-top: 10%;
    width: 100%;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;   
}
.left{
    border-right: solid black 0.5px;
    width: 50%;
    height: 100vh;   
}
.right{
    width: 50%;
    height: 100vh;  
}
.h1Second{
    
    font-size: 600%;
    letter-spacing: 5px;
    text-align: center;
    font-family: 'Pacifico', cursive;
  
}
.dico{
    position: absolute;
    top: 60%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 320px;
    height: 213px; 
    overflow: hidden;
    background-color:#DBD7D7;

}
.imgDico{
    width: 320px;
    height: 213px;
}
 .imgDico:hover{
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg);  
    -webkit-transition: 1s ease-in-out;  
    -o-transition: 1s ease-in-out;  
    transition: 1s ease-in-out;
 }
h5{
    text-align: center;
    padding: 2px;
    font-size: 22px;
    letter-spacing: 4px;
    color: grey;
}
footer{
    position: absolute;
    top:90%;
    left: 0;
    width: 100%;
    height: 150px;
}
ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
li{
    font-size: 48px;
    color:tomato;
    list-style-type: none;
    padding-left: 300px;
}
.scroll2{
    width: 200px;
    height: 200px;
    border:dashed grey 2px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    top:0;
    left: 0;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 5000;
}
 .crayon{
    width: 199px;
    height: 199px;
    position: absolute;
    color:black;
    top: 50%;
    left:20%;
    
 
} 
.spanOpac{
    color:black;
    position: absolute;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;  
    position: absolute;
     transition: 0.5s; 
    -webkit-animation:disparait  infinite linear forwards; 
            animation:disparait  infinite linear forwards;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
}
.rotation{
    -webkit-animation:unPetitTour 3s ease-out forwards;
            animation:unPetitTour 3s ease-out forwards;
}
@-webkit-keyframes unPetitTour{
    0%{
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
    25%{
        -webkit-transform: rotate(-35deg);
                transform: rotate(-35deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
    50%{
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
    75%{
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
}
@keyframes unPetitTour{
    0%{
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
    25%{
        -webkit-transform: rotate(-35deg);
                transform: rotate(-35deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
    50%{
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
    75%{
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transform-origin: bottom right;
                transform-origin: bottom right;
    }
}
@-webkit-keyframes disparait{
    0%{
        opacity: 1;
    }
    25%{
opacity: 0.75;
    }
    50%{
        opacity: 0.50;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}
@keyframes disparait{
    0%{
        opacity: 1;
    }
    25%{
opacity: 0.75;
    }
    50%{
        opacity: 0.50;
    }
    75%{
        opacity: 0.25;
    }
    100%{
        opacity: 0;
    }
}
.titreCentre{
    width: 100%;
    height: 70px;  
    position: absolute;
    top: 30%;
    left: 0%;
    
}
.cercle{
    width: 60px;
    height: 60px;   
    cursor: pointer;
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50000;
  
   
}
.line{
    width: 100%;
    height: 7px;
    background-color: black;
    transition: transform 0.2s ease, opacity 0.2s ease, top 0.2s ease 0.2s;
    position: relative;
   
   
}
.line:nth-child(1){
top:-10px;

}
.line:nth-child(3){
    top:10px;
   
}
.cercle.barreQuiBouge .line:nth-child(1){
    top:5px;
    transform: rotate(45deg);
    transition: transform 0.2s ease top 0.2s ease;
}
.cercle.barreQuiBouge .line:nth-child(2){
    
    opacity: 0;
    transition:opacity 0.2s ease;
}
.cercle.barreQuiBouge .line:nth-child(3){
    top:-5px;
    transform: rotate(-45deg);
    transition: transform 0.2s ease top 0.2s ease;
}

#three{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: tomato;
    opacity: 0;
}
@media only screen and (max-width: 812px){
    #premiere{
        flex-direction: column;
    }
    .logo{
        width: 100%;
        justify-content: center;
    }
    .container{
        width: 100%;
    }
    .titre{
        width: 80%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 60%;
    }
    h1 div{
      font-size: 400%;
    }
    .scroll{
        width: 100px;
        height: 100px;
        top:87%;
        left: 70%;
    }
    .scroll2{
        width: 100px;
        height: 100px;
        top:50px;
        left: 50px;
    }
    .h1Second {
        font-size: 250%;
        letter-spacing: 2px;
     
    }
    ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer{
        top:85%;
    }
    li{
        font-size: 28px;
        padding-left: 0px;
    }
}